- unless pages.blank?
  dl.tabs.vertical
    - pages.each do |page|
      dd class={page_active?(page) ? 'active' : nil}
        = link_to(                                                               \
            h(page.name),                                                        \
            @preview_mode ? 'javascript:void(0)' : show_alchemy_page_path(page), \
            {                                                                    \
             :class => (page_active?(page) ? 'active' : nil),                    \
             :title => (options[:show_title] ? page.title : nil),                \
             :lang => page.language_code,                                        \
             'data-page-id' => page.id                                           \
            }                                                                    \
          )
